<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Climate Solutions</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body tabindex="-1">
    <%- include('partials/navbar', {page: '/about'}) %> 

    <br />

    <div class="container mx-auto">
      <div class="hero bg-base-200 rounded-lg p-6">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">About</h1>

            <p class="py-6">Know More About Me By Reading The Description</p>
          </div>
        </div>
      </div>

      <br />

      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
          <img
            class="w-full rounded-lg"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDSEp6Y3wz8lMuDD84WaSP5bo_D24Qx3Eecg&s"
            alt="profile"
          />
        </div>
        <div class="prose">
          <p>
            Hi, I’m Karanbeer Chanana, a web development student in my third
            semester at Seneca Polytechnic College in Toronto, Ontario. I’m
            passionate about coding and always eager to learn more. While I’m
            still growing as a developer, I’m putting in the effort every day to
            get better at programming, especially in C++, which I really enjoy.
            I may not be an expert yet, but I’m determined to improve my skills
            and build projects that make a difference. I believe with practice
            and persistence, I can reach my goals and become the developer I aim
            to be.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
